[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pytest-cov = "*"
requests = "*"
httpx = "*"
fastapi-elasticsearch = "*"
pytest-asyncio = "*"
elasticsearch = { extras = ["async"], version = "8.10.1" }
elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
